@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url(../fonts/adobe-caslon-pro/adobecaslonpro-regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url(../fonts/adobe-caslon-pro/adobecaslonpro-italic.woff2);
  font-style: italic;
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url(../fonts/adobe-caslon-pro/adobecaslonpro-semibold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url(../fonts/adobe-caslon-pro/adobecaslonpro-semibolditalic.woff2);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url(../fonts/adobe-caslon-pro/adobecaslonpro-bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url(../fonts/adobe-caslon-pro/adobecaslonpro-bolditalic.woff2);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Bell Centennial Std';
  src: url(../fonts/bell-centennial-std/bellcentennialstd-address.woff2);
  font-weight: 400;
}

body {
  scroll-behavior: smooth;
  background-image: url(../img/greenandpurple-flow.webp);
  font-family: 'Adobe Caslon Pro';
  font-size: 20px;
  font-weight: 400;
  color: white;
}

header {
  background-color: #0000008c;
}

main {
  background-color: #0000008c;
}

footer {
  background-color: #ffffff7d;
}

h1 {
  font-family: 'Bell Centennial Std';
  font-size: 30px;
}

h2 {
  font-family: 'Bell Centennial Std';
  font-size: 25px;
  color: #00FF00;
}

h3 {
  font-family: 'Bell Centennial Std';
  font-size: 20px;
  color: #6857A0;
}

.quote {
  font-size: 40px;
  font-weight: 600;
  color: #00FF00;
}