body {
  scroll-behavior: smooth;
  background-image: url(../img/greenandpurple-flow-8.webp);
}

header {
  background-color: #000000ad;
}

main {
  background-color: #000000ad;
}

footer {
  background-color: #ffffff7d;
}